<ul class='navbar'>
    <li> <a href= 'http://localhost:3000/profile'>Profile</a></li>
        
    
    <li> <a href= 'http://localhost:3000/login'> Login </a></li>
       
    
    <li><a href= 'http://localhost:3000/signUp'>  Sign Up </a></li>
       
</ul>