<form action="/login" method="post" enctype="multipart/form-data">
    <input type="text" name="email" value="emailAddress" />
    <input type="text" name="userName" value="User Name" />
    <input type="text" name="password" value="Password" />
    <input type="submit" name="userInput" value="Submit">
</form>